.container {
  @apply bg-dash min-h-screen flex;
}

.panel {
  @apply bg-pDark w-2/12 min-h-screen flex flex-col items-stretch justify-between pt-8 pb-24;
}

.box {
  @apply  w-10/12 min-h-screen flex flex-col p-8 gap-y-10 content-start;
}

.imgDiv {
  @apply mb-10 pl-9;
}

.top {
  @apply block h-full;
}

.topnav {
  @apply flex w-full h-1/2 flex-grow;
}

.toplist {
  @apply flex flex-col justify-between items-stretch  w-full;
}

.bottomnav {
  @apply flex h-2/5;
}

.bottomlist {
  @apply flex flex-col justify-between items-stretch  w-full;
}

.listitemHome {
  @apply w-full hover:bg-dash px-9 py-1 hover:cursor-pointer text-white hover:text-pLight transition duration-150
}

.listitem {
  @apply w-full hover:bg-dash px-9 py-1 hover:cursor-pointer text-pLight transition duration-150
}

.listitemEnd {
  @apply w-full hover:bg-dash px-9 py-1 hover:cursor-pointer text-tred transition duration-150
}

.img {
  width: 60px;
  height: 60px;
  @apply block;
}

.nav {
  @apply flex justify-between gap-y-8;
}

.searchBox {
  @apply relative;
}

.searchIcon {
  @apply absolute right-3 top-4;
}

.search {
  border: 1px solid #DDDFEE;
  transition: all .5s;
  @apply w-72  h-14 rounded-md bg-white outline-none px-5;
}

.search::placeholder {
  opacity: .5;
  font-size: 15px;
}

.search:focus {
  @apply w-96 
}

.account {
  @apply flex h-14 justify-between gap-x-10;
}

.bellnotif {
  box-shadow: 0px 4px 72px rgba(19, 23, 62, 0.15);
  @apply w-14 bg-white rounded-lg relative;
}

.userAccount {
  box-shadow: 0px 4px 72px rgba(19, 23, 62, 0.15);
  @apply flex bg-white h-14 w-48 items-center justify-evenly rounded-lg;
}

.userImg {
  width: 32px;
  height: 32px;
}

.downIcon {
  width: 14px;
  height: 7px;
}

.bellOn {
  @apply absolute top-4 right-5;
}

.bellIcon {
  @apply absolute top-4 right-4;
}

.main {
  @apply flex gap-x-8 max-h-screen content-start;
}

.body {
  @apply w-3/4 flex gap-x-8;
}

.sidebar {
  @apply w-1/4 flex flex-col gap-y-6;
}

.sidebarInfo {
  @apply bg-white rounded-lg px-5 py-6;
}

.sideHeading {
  @apply flex gap-x-6 justify-self-center items-center mb-6;
}

.sideHeader {
  @apply font-bold text-pLight;
}

.birthdays {
  @apply flex gap-x-4 mb-8 text-pMid;
}

.celeb {
  @apply h-full w-12
}

.welcome {
  @apply w-3/5 flex flex-col gap-y-8
}

.weather {
  @apply bg-white flex justify-between items-center py-4 px-6 rounded-lg h-2/5
}

.aside {
  height: 325px;
  @apply flex flex-col gap-y-8 
}

.quote {
  @apply h-3/5 bg-white rounded-lg py-4 px-6
}

.article {
  @apply w-9/12 relative mb-10;
}

.wquote {
  max-width: 340px;
  @apply text-pMid pb-3 text-base ;
}

.quoteName {
  @apply text-pLight;
}

.quoteImage {
  @apply absolute opacity-40 right-0  top-12 sm:w-12 sm:h-16;
}

.quoteHeader{
  @apply flex text-tred justify-between items-center mb-2
}

.time {
  @apply text-sm opacity-50 text-pLight
}

.greet {
  font-size: 20px;
  line-height: 40px;
  @apply text-pLight
}

.greetName {
 @apply font-semibold
}
.achievement {
  @apply w-2/5 
}

.medal {
  @apply absolute left-4 top-9 h-7 w-10
}

.userInfo {
  border: 1px solid rgba(80, 92, 164, 0.3);
  width: 341px;
  height: 346px;
  box-shadow: 0px 4px 72px rgba(80, 92, 164, 0.15);
  border-radius: 16px;
  background: #E5E5E5;
  @apply bg-white px-6 flex flex-col items-center py-10 justify-between relative;
}

.headingInfo {
  letter-spacing: 0.02em;
  @apply text-pDark font-bold text-xl mb-2 pl-9;
}